
{% extends 'base.html' %}
{% block main %}
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmModalTitle"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="confirmModalContent"></p>
        </div>
        <div class="modal-footer">
          <button type="button" id="confirmModalYes" class="btn btn-primary">はい</button>
          <button type="button" class="btn btn-secondary modal-close" data-bs-dismiss="modal">いいえ</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}